*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* GRID-parent  TAGS */
/* 
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows
    justify-content
    align-content
    alifn-items 
    
 */

 /* Grid child  */
 /* 
    1. justify-self
    2. align-self 
  */

.container
{
    border: 2px solid red;
    display: grid;

    height: 400px;
    /* grid-template-columns: 3fr 1fr 1fr; */
    /* grid-template-columns: repeat(5 , 1fr); */
    /* grid-template-columns: repeat(4 , 2fr);*/

    row-gap: 20px;
    column-gap: 5px  ;
    grid-template-columns: 200px 200px 200px; 

    /* grid-template-rows:20px 50px 80px ; */
    justify-content: center;
    justify-content: center;

    align-content: center;
    /* align-content:end; */
    

    /* align-items: ; */


}

.box
{
    padding:12px;
    border: 2px solid green;
    background
}

#box-1
{
    background-color: aquamarine;
    /* justify-self: stretch; */
    /* justify-self: center;
    align-self: end; */

    grid-column: 1 / span ;

    grid-row:1 / span 5;
}