
/* PARENT PROPERTIEZ */
/* 1. Flex-direction
2. Flex-wrap
3. Flex-flow
4. Justiy-content
5. Align items 
6. Align content */ 




/* Child PROPERTIEZ */
/* 1.Order
2. Flex-grow
3. Flex-flow
4. Flex-basis 
5. flex (shorthand for 2 , 3 , 4)
6. Align self */  /**/


*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container
{
    border: 2px solid red;
    width: 100%;
    height: 50vh;
    /* margin: auto; */
    /* overflow: auto; */

    /*flex shit starts*/
    display: flex;
    /* flex-direction: row;
    flex-wrap:wrap; */

    flex-flow: wrap row;
    /* gap: 5px; */


    /* align items */

    /* justify-content: space-around; */
    /* justify-content:space-between; */
    /* justify-content:flex-start;
    justify-content: flex-end; */

    justify-content: center;
    align-items:center;
    

    gap: 10px;


}

.box
{
   border: 2px solid black;
   /* margin: 2px 4px; */
   height: 63px;
   width: 105px;
   padding: 15px 5px;
   

}

#box-1
{
    background-color: red;
    color: white;
    flex-grow :1;
}

#box-2
{
    background-color: lime;
    color: white;
    flex-shrink: 1;
}

#box-4
{
    background-color: aqua;
    color: white;
}